@charset "utf-8";
@import "./mixin";
@import "./variable";

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  .hidden {
    display: none;
  }
}

body {
  background-size: cover;
}

$main-color: rgba(39, 39, 39, 0.467);

// main start
#main-display {
  display: flex;
  flex-direction: column;
  background: $main-color;
  color: #fff;
  align-items: center;

  #clock {
    font-size: 10rem;
  }

  #login-form {
    input {
      width: 45rem;
      height: 5rem;
      font-size: $font-huge;
      border: 0;
      border-bottom: 1px solid #fff;
      outline: 0;
      text-align: center;
      background: 0;
      color: #fff;
    }

    input::placeholder {
      color: white;
    }

    input:focus::placeholder {
      color: transparent;
    }
  }

  #greeting {
    font-size: $font-huge;
  }

  #todo-section {
    h2 {
      margin-top: 7rem;
      font-size: $font-large;
    }
    #todo-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 3rem;
    }
    input {
      width: 45rem;
      height: 5rem;
      font-size: $font-huge;
      border: 0;
      border-bottom: 1px solid #fff;
      outline: 0;
      text-align: center;
      background: 0;
      color: #fff;
    }
  }
}
