@charset "utf-8";
@import "./mixin";
@import "./variable";

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  .hidden {
    display: none;
  }
}

body {
  background-size: cover;
}

$main-color: rgba(39, 39, 39, 0.467);

// main start
#main-display {
  margin: 50vh auto 0 auto;
  transform: translateY(-50%);
  text-align: center;
  background: $main-color;

  #clock {
    display: inline-block;
    font-size: 15rem;
    color: white;
  }

  #login-form {
    input {
      width: 45rem;
      height: 5rem;
      font-size: $font-huge;
      border: 0;
      border-bottom: 1px solid #fff;
      outline: 0;
      text-align: center;
      background: 0;
      color: white;
    }
    ::placeholder {
      color: white;
    }

    input:focus::placeholder {
      color: transparent;
    }
  }

  #greeting {
    color: white;
    font-size: $font-huge;
  }
}
